*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
    margin: 20px 0px;
}

p{
    font-size: 12px;
}

header{
    background-color: #EAC926;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    z-index: 100;
    top: 0;
}

header div.logo{
    width: 50%;
    animation: aumentar 1s linear infinite alternate;
}
@keyframes aumentar {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}
header div.logo{
    padding: 10px;
}


header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}



div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.price{
    font-size: 18px;
    width: 30%;
    margin-left: 15px;
    
}
.discount{
    width: 55%;
    align-self: flex-start;
    margin-left: 10px;
}
.description{
    margin: 15px 0px 25px 15px;
}
.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

section.banner img{
    width: 100%;
    margin-top: 200px;
}

main{
    width: 90%;
    margin: 5vw;
}

main section article{
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.445);
    position: relative;
    z-index: 1;
}

main section article img{
    width: 100%;
    position: relative;
}


.descripcionP{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
}
.description{
    display: none;
}
.contenedorImg:hover .descripcionP{
    opacity: 1;
}
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    bottom: 20%;
    }
.fas.fa-truck:hover{
    transform: rotateZ(270deg);
}
.fas.fa-truck{
    transition: all 0.5s;
}
main section article i,
.discount{
    color: #39b54a;
}

.product_img{
    display: block;
    width: 60vw;
    margin: 15px auto;    
}

.searchBar{
    width: 70%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    font-size: 12px;
    border-right: none;
}
header div form{
    width: 50%;
}
.fas.fa-search.lupa{
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.top-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header div h2{
    font-size: 16px;
    margin: 5px auto;
}
.bottom-header{
    display: none;
}
.footerC{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerC div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
footer div p i{
    color: #1259c3;
    font-size: 30px;
    margin: 10px;
    transition: all 0.5s;
}
footer div p i:hover{
    color: #39b54a;
}
.textFooter{
    width: 80%;
}
.copyright{
    margin-bottom: 15px;
}

/* Formulario de Registro */
.formularioRegistro{
    padding: 20px 10px;
    background-color: rgb(214, 208, 208);
    border-radius: 5px;
    width: 90%;
    margin: 200px auto;
}
body form.formularioRegistro div{
    margin: 20px;
    width: 90%;
    font-size: 18px;
    font-style: italic;
    text-align: center;
}
.formularioRegistro button{
    padding: 7px 12px;
    font-size: 27px;
    font-weight: bold;
    color: #FFF;
    background-color: rgb(0, 17, 255);
    border-radius: 20px;
    border: none;
    transition: all 450ms;
}
.formularioRegistro button:hover{
    background-color: #0022AA;
}
.formularioRegistro div label{
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
}
.controlador{
    font-size: 16px;
    padding: 5px;
    width: 90%;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px
}
.selectorRegister{
    font-size: 16px;
    padding: 5px;
    width: 90%;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px
}
.botonRegister{
    display: flex;
    justify-content: center;
}

/* Formulario de Login */
.formularioLogin{
    background-color: rgb(201, 195, 195);
    border-radius: 5px;
    padding: 20px;
    width: 90vw;
    margin: 200px auto;
}
.formularioLogin label{
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
}
.formularioLogin input{
    font-size: 16px;
    padding: 5px;
    width: 90%;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.formularioLogin a button{
    padding: 7px 12px;
    font-size: 27px;
    font-weight: bold;
    border: none;
    color: #FFF;
    background-color: rgb(0, 17, 255);
    border-radius: 25px;
    transition: all 0.5s;
}

.botonLogin{
    display: flex;
    justify-content: center;
}
.formularioLogin a button:hover{
    background-color: #0022AA;
    border-radius: 10px;
}

/*Media Querie para Tablet */

@media (min-width: 768px){
    .top-header{
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
    header div h2{
        width: 40vw;
        font-size: 13px;
    }
    .searchBar{
        width: 25vw;
        padding: 5px;
    }
    header div.logo{
        width: 35vw;
    }
    .fas.fa-search.lupa{
        padding: 5px;
    }
    .bottom-header{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .bottom-header ul{
        display: flex;
        font-size: 16px;
        font-weight: bold;
    }
    .bottom-header ul li{
        margin: 10px;
    }
    .burger-menu{
        display: none;
    }
    main section div.products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    main section div article{
        width: 40vw;
        margin-bottom: 5vw;
    }
    .product_img{
        width: 40vw;
    }
    main section article i{
        right: 7%;
        bottom: 9%;
    }
    /* Register Querie */
    .formularioRegistro{
        width: 80%;
    }

    /*Login Querie */
    .formularioLogin{
        width: 75vw;
    }
}

/*Media Querie para Desktop */

@media (min-width: 1200px){
    main section div article{
        width: 20vw;
        margin-bottom: 5vw;
    }
    .product_img{
        width: 20vw;
    }
    .footerC{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footerC div{
        width: 30%;
    }
    .copyright{
        margin: 15px auto;
    }
    .bottom-header ul{
        font-size: 20px;
        font-weight: bold;
    }
    header div h2{
        font-size: 18px;
    }

    /* Register Querie */
    .formularioRegistro{
        width: 70%;
    }

    /*Login Querie */
    .formularioLogin{
        width: 65vw;
    }
}



